.task-form ion-button {
  text-transform: none;
}

.task-form ion-card {
  border-radius: 10px;
}

.task-form-title {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.task-form-title .task-form-title-text {
  font-size: x-large;
  font-weight: 600;
}

.task-form ion-toolbar {
  --background: rgba(248, 248, 248, 1);
}

.task-form .timeframe-label {
  margin-left: 10px;
}
